body {
  background-color: #ff8e42;
}

.animation, .animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#eight {
  background-image: url(./images/parallax8.png);
}
#seven {
  background-image: url(./images/parallax7.png);
}
#six {
  background-image: url(./images/parallax6.png);
}
#five {
  background-image: url(./images/parallax5.png);
}
#four {
  background-image: url(./images/parallax4.png);
}
#three {
  background-image: url(./images/parallax3.png);
}
#two {
  background-image: url(./images/parallax2.png);
}
#one {
  background-image: url(./images/parallax\ 1@2x.png);
}
